header,
.nav,
main,
.sidebar,
.adevertise,
.footer {
    background-color: bisque;
    border: 2px solid tomato;
}

header {
    grid-area: header;
}

.nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.advertise {
    grid-area: advertise;
}

footer {
    grid-area: footer;
}

.container {
    display: grid;
    grid-template-areas:
        "header header header header"
        "nav  main  main  sidebar"
        "nav  main  main adevertise"
        "footer footer footer footer"

    ;
    gap: 20px;
}

@media screen and (max-width : 576px) {
    .container {
        grid-template-areas:
            "header"
            "nav "
            " main"
            "adevertise"
            "footer"

        ;
    }
}