body {
    max-width: 1270px;
    background-color: bisque;
    margin: 0 auto;
}

.hero-container {
    display: flex;
    background-color: lightgreen;
    padding: 25px;
    font-size: 1.25em;
    gap: 40px;
    align-items: center;
    border-radius: 15px;
}

.hero-container button {
    background-color: aqua;
    padding: 10px 20px;
    font-size: 1.25em;
    border-radius: 10px;
}

.hero-container img {
    width: 100%;
    height: 300px;

}