.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.banner-profile-pic {
    margin-top: 50px;
    width: 450px;
    height: 450px;


}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}

.secondary-bg {
    background-color: #FFF8F3;
}

.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;



}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

.section-description {
    font-size: 18px;
    color: #757575;
    text-align: center;
}

.btn-primary {
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
}

.banner-content {
    max-width: 580px;

}

.heder {
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
}

.dark-2 {
    color: #474747;
}

.banner-hi {
    font-size: 45px;
    font-weight: 600;
}

.banner-title {
    font-weight: bold;
    font-size: 85px;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

nav ul li {
    list-style: none;
}

nav li a {
    text-decoration: none;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;

}

.text-primary {
    color: #FD6E0A;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
}

.resume-container {
    display: flex;
    gap: 24px;
}

.experience-sub-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

.experience-description,
.experience-sub-title {
    color: #757575;
}

.btncv {
    margin-top: 20px;
    text-align: center;

}

.ftr {
    display: flex;

    padding: 130px 230px;
    gap: 100px;
}

.footer-colum {
    width: 50%;
}

footer input[type="text"],
footer input[type="email"],
footer textarea {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 80%;
    margin-bottom: 24px;
    padding: 10px 20px;
}